/*styles.css*/
html,
body,
#root {
  margin: 0;
  padding: 0;
}
#control-gui {
  position: absolute;
  right: 0%;
  top: 20vh;
  width: 10vw;
}

.view-button {
  position:absolute;
  z-index: 99;
  top: 20vh;
  left: 2%;
  display: flex;
  flex-direction: column;
  width:100px;
}

.control-button {
  height: 60px;
  font-size:large;
  font-weight: bold;
  background-color: black;
  color:white;
}
